[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
streamlit = "*"
scipy = "*"
numpy = "*"
audiocraft = {git = "https://git@github.com/facebookresearch/audiocraft"}

[dev-packages]

[requires]
python_version = "3.11"
